*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.quiz-wrapper{
  border-top: 1px solid white;
  width: 100%;
  min-height: 90vh;
  padding: 15px;
  background-color: #174277;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-box{
  width: 750px;
  min-height: 400px;
  background-color: white;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0) 0px 4px 12px;
  border-radius: 50px;
}
.question-count{
  text-align: center;
  margin-top: 20px;
}
.question-count .count{
  font-size: 25px;
  font-weight: 800;
  color:#073068;
}
.question-title{
  font-size: 20px;
  font-weight: 600;
  color: #073068;
}
.question-box{
  margin-top: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.question-number{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #0694C4;
  color:#fff;
  font: 20px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
.question{
  font-size: 20px;
  font-weight: 500;
  background-color: #fff;
  color: #174277;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow:#396A9B 0px 4px 12px;
  width: 100%;
}
.answers-box{
  display: flex;
  flex-wrap: wrap;  
  margin-top: 45px;
  gap: 30px 15px;
}
.answers-box .box{
  width: calc(50% - 10px);
  position: relative;
}
.answers-box .box .answer-lable{
  display: flex;
  align-items: center;
  background-color: #0694C4;
  border: 0px;
  width: 100%;
  padding: 20px 25px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #FBFFFF;
}

.answers-box .box .answer-lable:hover{
  background: #206592;
}
.timer{
  font-size: 200px; 
}

.done{
  gap:30px 15px;
  background-color: white;
  padding: 30px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.done button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #0694C4;
  color:#fff;
  font: 28px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.done h2{
  font-size: 40px;
  font-weight: 600;
  color: #073068;
}

.done p{
  font-size: 20px;
  font-weight: 500;
  background-color: #fff;
  color: #174277;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow:#396A9B 0px 4px 12px;
  width: 100%;
}

.done button:hover{
  background: #206592;
}

.app{
  min-height: 100vh;
  background-color: #174277;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px 50px;
}
.app .appb{
  background-color: #0694C4;
  border: 0px;
  padding: 20px 25px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #FBFFFF;
  text-transform: uppercase;
}
.app .appb:hover{
  background: #206592;
}
.app p{
  width: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}